<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About US</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi beatae
        quia officia quis necessitatibus labore, aliquam consequatur. Eum nisi
        nemo, velit nobis distinctio sapiente voluptates maiores voluptatibus
        rem, in ut. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eligendi temporibus voluptas aperiam aliquam voluptatibus autem vero vel
        debitis dignissimos laudantium, quibusdam, tenetur exercitationem
        quisquam quod maiores illum dolores voluptate similique?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi beatae
        quia officia quis necessitatibus labore, aliquam consequatur. Eum nisi
        nemo, velit nobis distinctio sapiente voluptates maiores voluptatibus
        rem, in ut. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eligendi temporibus voluptas aperiam aliquam voluptatibus autem vero vel
        debitis dignissimos laudantium, quibusdam, tenetur exercitationem
        quisquam quod maiores illum dolores voluptate similique?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi beatae
        quia officia quis necessitatibus labore, aliquam consequatur. Eum nisi
        nemo, velit nobis distinctio sapiente voluptates maiores voluptatibus
        rem, in ut. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eligendi temporibus voluptas aperiam aliquam voluptatibus autem vero vel
        debitis dignissimos laudantium, quibusdam, tenetur exercitationem
        quisquam quod maiores illum dolores voluptate similique?
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
